{
  "client_id": /* Insert your client_id token here */,
  "client_secret": /* Insert your client_secret token here */,
  "musixmatch_api": /* Insert your musixmatch_api token here */,
  "auth_token": /* Insert your auth_token token here */
}